<div class="row">

  <div class="col-md-2">
    <img src="/dmlogo.jpg" id="logo" />
  </div>


  <div class="col-md-10">
    <h1 id="naslov"> Online kupovina za trudnice </h1>
  </div>

</div>


<div class="row">

  <div class="col-md-6">
    <img src="/babybonus.jpg" id="bonus" />
  </div>

  <div class="col-md-6">
    <iframe width="80%" height="215" src="https://www.youtube.com/embed/w2jjdk8xKvM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

</div>


<div class="row">

  <div class="col-md-6">
    <img src="/akcije.jpg" id="akcije" />
  </div>


  <div class="col-md-6">
   <img src= "/savjeti.jpg" id="savjeti" />
  </div>
  </div>





























<style>
body{
  margin-top: 50px;
}


#logo{
  width: 200px;
  height: auto;
  padding-right: 30px;
}

#naslov{
  font-size: 64px;
  font-variant: small-caps;
}

#bonus{
  margin-top: 50px;
  width: 500px;
  height: auto;
}
#akcije {
  margin-top: 50px;
  width: 500px;
  height: auto;
}
#savjeti {
  margin-top: 50px;
  width: 500px;
  height: auto;
}

iframe{
  margin-top: 50px;
}

</style>